body {
    background: #fff;
}

nav {
    background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}

#home-background {
    background-image: url('../images/piscine-restaurant.jpg');
    height: 500px;
}

.parallax {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    height: calc(100vh - 36px);
}

.card-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(73, 96, 104);
    background-color: white;
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
}

.center-block {
    flex: 1;
    width: 100%;
    padding: 200px 0;
}

#home-background h2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 70px/1 "Aladin", Helvetica, sans-serif;
    color: rgba(48,48,48,1);
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}

footer {
    background-color: #26272b;
    border-top: 1px solid black;
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255,255,255,0.5);
}

footer hr
{
    border-top-color:#bbb;
    opacity:0.5;
}

footer hr.small
{
    margin:20px 0;
}

footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

footer a
{
    color: rgba(255,255,255,0.5);
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}

footer a:hover
{
    color:#fff;
    text-decoration:none;
}

.footer-links
{
    padding-left:0;
    list-style:none
}

.footer-links li
{
    display:block
}

.footer-links a
{
    color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    text-decoration:none;
}

.footer-links.inline li
{
    display:inline-block
}

.copyright-text
{
    color: rgba(0,0,0,.5);
    margin:0;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #room:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1ad";
}

#progressbar #payment:before {
    font-family: "Font Awesome 5 Free";
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 4px 14px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}